
.q{background-color: #61B7CF;}
.f.jura-f {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
.k{size: width 25%; height: 200px;}
.f{background-color: white;}
.r{size: width 33%; height: 250px;}
.i{size: width 50%; height: 400px;}
.f{color: #025167}
.f{padding:16px 16px 16px 16px ;}
.f{margin:16px 16px 16px 16px;}
.f{size: width 1024px}
.f{border-radius: 16px;}
.container{padding: 16px 16px 16px 16px;}
.container{margin: 16px 16px 16px 16px;}
.container{border-radius: 16px;}
.container{background-color: lightgray;}
.cage{background-color: white;}
.cage{padding: 16px 16px 16px 16px;}
.cage{margin: 16px 26px 16px 16px;}
.cage{border-radius:16px;}
.cage mid-cage{background-color: white;}
.cage mid-cage{padding: 16px 16px 16px 16px;}
.cage mid-cage{margin: 16px 26px 16px 16px;}
.cage mid-cage{border-radius:16px;}
.td{size: wight 50px; height: 50px;;}