@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    font-family: "Nunito", serif;
}
ul{
    display: flex;
    padding: 16px;
    margin: 16px;
    gap: 16px;
}
.nado{
    padding: 5px;
    margin: 16 px;
    border-radius: 16px;
    background-color: blue;
    color: white;
    width: 320px;
}
.f22{
    font-size: larger;
    width: 400;
}
.butt{
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: lightblue;
    text-decoration: none;
}
.butt:hover{
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: rgb(47, 170, 211);
    cursor: pointer;
}.butt2{
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: lightblue;
    text-decoration: none;
}
.butt2:hover{
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: rgb(47, 170, 211);
}
.imge{
    width: auto;
    height: auto;
    align-self: normal;
    display: inline;
}
div{
    display: flex;
}
.projectsh{
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: rgb(159, 255, 255);
    width: 500px;
    display: flex;
}
img{
    border-radius: 16px;
    width: 300px;
}
.pht{
    width: 300px;
    border-radius: 16px;
}

a{
    text-decoration: none;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    background-color: lightblue;
}
a:hover{
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    background-color: rgb(47, 170, 211);
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Добавляем тень при наведении */
    transform: scale(1.05); /* Увеличиваем размер */
    color: white; /* Меняем цвет текста */
}
.photo{
    animation-name: change-background-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  float: right;
  display: flex;
}
img:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Добавляем тень при наведении */
     transform: scale(1.05); /* Увеличиваем размер */
     color: white; /* Меняем цвет текста */
     transition: all 0.3s ease-in-out;
}
.gfg{
    width: 50%;
}

